[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
flask = "*"
pandas = "*"
requests = "*"
gunicorn = "*"
pytest = "*"

[dev-packages]
boto3 = "*"
mlflow = "*"
pytest = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
